In [2]:
import pandas as pd

In [5]:
df_data = pd.read_csv("supermarket_sales - Sheet1.csv")

In [9]:
df_data.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

1. Qual o faturamento total por filial?

In [15]:
df_data.groupby("City")[["Total","gross income"]].sum()

                 Total  gross income
City
Mandalay   106197.6720     5057.0320
Naypyitaw  110568.7065     5265.1765
Yangon     106200.3705     5057.1605

2. Qual o percentual de participação na receita de cada tipo de produto?

In [19]:
(df_data.groupby("Product line")["Total"].sum()/df_data.groupby("Product line")["Total"].sum().sum()).sort_values() * 100

Product line
Health and beauty         15.231828
Home and lifestyle        16.677232
Fashion accessories       16.814702
Electronic accessories    16.824497
Sports and travel         17.067648
Food and beverages        17.384094
Name: Total, dtype: float64

3. Como está distribuido o tipo de produto consumido por genero?

In [39]:
df_data.groupby(["Product line", "Gender"])[["Total"]].sum().pivot_table(index="Product line", columns="Gender")

                             Total
Gender                      Female        Male
Product line
Electronic accessories  27102.0225  27235.5090
Fashion accessories     30437.4000  23868.4950
Food and beverages      33170.9175  22973.9265
Health and beauty       18560.9865  30632.7525
Home and lifestyle      30036.8775  23825.0355
Sports and travel       28574.7210  26548.1055

4. Qual foi o faturamento por mês?

In [30]:
df_data["Date"] = pd.to_datetime(df_data["Date"])
df_data["Month"] = df_data["Date"].apply(lambda x: x.month)
df_data["Year"] = df_data["Date"].apply(lambda x: x.year)

In [34]:
df_data.groupby(["Month"])["Total"].sum()

Month
1    116291.868
2     97219.374
3    109455.507
Name: Total, dtype: float64

5. Qual foi a media de avaliação por cada filial em janeiro de 2019?

In [38]:
df_data[(df_data["Year"] == 2019) & (df_data["Month"] == 1)]["Rating"].mean()

7.017613636363638

6. Como se distribui o gasto  por tipo de consumidor  em cada filial?

In [41]:
df_data(["Customer type"])["Total"].sum()

TypeError: 'DataFrame' object is not callable